<!--  views/partials/footer.ejs starts here  -->
    </div>
  </div>
</div>

<footer class="container-fluid text-center">
  <p>This site was built using Node.js, Express.js and EJS templates by Nafiva Jeza. This web space is dedicated to my passions! With an inviting index page as your starting point, you're just a click away from delving into three distinct hobbies that bring me joy. </p>
  <p>This simple bootstrap template comes from the following: <a href="https://www.w3schools.com/bootstrap/bootstrap_templates.asp">https://www.w3schools.com/bootstrap/bootstrap_templates.asp</a></p>
</footer>

</body>
</html>




