<%- include('../partials/header') %>



<div class="container mt-5">
  <div class="row">
    <div class="col-md-12 text-center">
      <h1 class="hobby-heading"> ABOUT</h1>
    </div>
  </div>
</div>
 
  <style>
   /* h1{
      margin-left: 500px;
      margin-bottom: 20px;
    }*/
    /* Custom bubble style for the text */
    
    
  .bubble {
    margin-top: 250px;
    background-color: lightskyblue;
    padding: 15px;
    margin-bottom: 10px; /* Add margin to separate bubbles */
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
   .image-bubble {
    background-color: lightblue;
    padding: 15px; /* Adjust padding for better alignment */
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center; /* Center the image */
    display: inline-block; /* Ensure the bubble wraps around the image */
  }
  /* Adjust the image size */
  .image-bubble img {
    max-width: 100%; /* Make the image fit within the bubble */
    height: auto; /* Maintain aspect ratio */
    margin-

  </style>
</head>
<body>
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-6">
        <div class="bubble">
          
          
          <p>
            Hi, my name is Nafiva Jeza. I'm an emerging AI & front-end software Engineer. Proficient in Python, NLP, DL, HTML, CSS, and JavaScript, my goal is to intergrate AI into front-end.
          </p>
    
          <p>
            Welcome to my web space dedicated to my passions! With an inviting index page as your starting point, you're just a click away from delving into three distinct hobbies that bring me joy. 
          </p>
          
          
          
        </div>
      </div>
      <div class="col-md-6">
        <!-- Add image here -->
         <div class="image-bubble">
        <img src="views/pages/images/about.jpg" alt="Psychology Pic" class="img-fluid rounded">
         </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap JS and jQuery -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

      
<%- include('../partials/footer') %>



